@import "reset";
@import "base";

/* container */
.container{
    /* 桌機 */
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}
/* 平板
@media (max-width: 992px){

} */
/* 手機
@media (max-width: 767px){

} */


/* 背景色 */
.bg-primary{
    background-color: #AA0601;
}
.bg-secondary{
    background-color: #FBF2F2;
}

/* navbar */
.navbar{
    padding: 16px 0;
    @media (max-width: 767px){
            padding-bottom: 0;
    }
}
.navbar-wrap{
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px){
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
    }
}
.navbar-logo{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
    display: block;
    width: 80px;
    height: 48.57px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 992px){
            margin-left: 24px;
    }
    @media (max-width: 767px){
            margin-left: 16px;
            margin-bottom: 16px;
    }
}


.navbar-menu{
    display: flex;
    align-items: center;
    @media (max-width: 767px){
            flex-wrap: wrap;
    }
}
.navbar-item{
    height: 100%;
    @media (max-width: 767px){
            width: 50%;
            border: 1px solid #FFFFFF;
    }
    &:last-child .navbar-link{
        padding-right: 0;
        @media (max-width: 992px){
                margin-right: 24px;
        }
        @media (max-width: 767px){
                margin-right: 0px;
        }
    }
}
.navbar-link{
    font-size: 20px;
    color: #FFFFFF;
    padding: 8px 32px;
    height: 100%;
    @media (max-width: 767px){
            text-align: center;
            padding: 12px 0;
            font-size: 16px;
    }
}

/* footer */
.footer{
    padding-top: 48px;
    padding-bottom: 32px;
    @media (max-width: 992px){
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 40px;
    }
    @media (max-width: 767px){
            padding: 24px 0;
    }
}
@media (max-width: 767px){
    .footer-wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.footer-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 767px){
            display: none;
    }
}
.footer-menu-item{
    height: 100%;
    &:first-child .footer-menu-link{
        padding-left: 0;
    }
}
.footer-menu-link{
    color: #FFFFFF;
    height: 100%;
    padding: 12px 24px;
    @media (max-width: 992px){
            padding-top: 8px;
            padding-bottom: 8px;
    }
}
.footer-social{
    display: flex;
    gap: 32px;
    @media (max-width: 992px){
            gap: 16px;
    }
    @media (max-width: 767px){
            gap: 8px;
    }
}
.footer-social-link{
    max-width: 48px;
    &:hover{
        transform: scale(1.2);
    }
    @media (max-width: 992px){
            max-width: 40px;
    }
    @media (max-width: 767px){
            max-width: 24px;
    }
}
.footer-contact-link{
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 8px;
    @media (max-width: 767px){
            font-size: 16px;
    }
}
.footer-contact-icon{
    font-size: 36px;
    vertical-align: middle;
    margin-right: 22px;
    @media (max-width: 767px){
            font-size: 16px;
            margin-right: 11px;
    }
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #FFFFFF;
    padding-top: 32px;
    margin-top: 32px;
    @media (max-width: 767px){
            flex-direction: column;
            padding-top: 16px;
            gap: 8px;
    }
}
.footer-copyright-content{
    color: #FFFFFF;
}
.footer-copyright-menu{
    display: flex;
    align-items: center;
    gap: 48px;
    @media (max-width: 767px){
            flex-direction: column;
            gap: 8px;
            align-items: flex-start;
    }
}
.footer-copyright-link{
    font-size: 14px;
    color: #FFFFFF;
    @media (max-width: 767px){
            font-size: 16px;
    }
}






